@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Gluten:wght@400;700&family=Poppins:wght@400;700&family=Playfair+Display:wght@400;700&family=Rubik:wght@400;700&family=Teachers:wght@400;700&display=swap');
@import './styles/swal-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ABC Diatype';
  src: url('../assets/fonts/abc-diatype-regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Migrain';
  src: url('../assets/fonts/migrain.otf');
}

@layer base {
  :root {
    --toastify-color-light: theme(colors.base-200);
    --toastify-color-dark: theme(colors.base-200);
    --toastify-color-info: theme(colors.info);
    --toastify-color-success: theme(colors.success);
    --toastify-color-warning: theme(colors.warning);
    --toastify-color-error: theme(colors.error);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --toastify-toast-background: theme(colors.base-200);
    --toastify-text-color-light: theme(colors.base-content);
    --toastify-text-color-dark: theme(colors.base-content);
    --toastify-font-family: theme(fontFamily.sans);
    --radius: 0.5rem;
  }
  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* thin scrollbar */
.scrollbar-thin,
::-webkit-scrollbar {
  scrollbar-width: thin;
}
.scrollbar-none,
::-webkit-scrollbar {
  scrollbar-width: none;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.drawer-content {
  padding-inline: 0px !important;
}
