@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Gluten:wght@400;700&family=Poppins:wght@400;700&family=Playfair+Display:wght@400;700&family=Rubik:wght@400;700&family=Teachers:wght@400;700&display=swap');
@import './styles/swal-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --toastify-color-light: theme(colors.base-200);
    --toastify-color-dark: theme(colors.base-200);
    --toastify-color-info: theme(colors.info);
    --toastify-color-success: theme(colors.success);
    --toastify-color-warning: theme(colors.warning);
    --toastify-color-error: theme(colors.error);

    --toastify-toast-background: theme(colors.base-200);
    --toastify-text-color-light: theme(colors.base-content);
    --toastify-text-color-dark: theme(colors.base-content);
    --toastify-font-family: theme(fontFamily.sans);
    --radius: 0.5rem;
  }
}

/* thin scrollbar */
.scrollbar-thin,
::-webkit-scrollbar {
  scrollbar-width: thin;
}
.scrollbar-none,
::-webkit-scrollbar {
  scrollbar-width: none;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.drawer-content {
  padding-inline: 0px !important;
}
